# virtual environment
llama-venv/
venv/
env/

# saved models and outputs
saved_models/
*.pth
*.zarr

# jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# cache
.cache/
*.log

# docker
.dockerignore

# os
.DS_Store
Thumbs.db
